body {
    background-color: #e5e5e5;
    color: #252825;
    text-align: center;
}
button {
    border: none;
    font-weight: bold;
    background: none;
}
.fat {
    color: white;
    background: #ff5E84;
}
.hide{
    display: none;
}